{{ define "main" }}
  <!-- Header -->
  {{ partial "header" . }}

  <div class="container">
    <section id="projects">
      <h4 class="my-5">{{ .Site.Data.projects.name }}</h4>
      <div class="panel">
        <div class="panel-body">
          {{ range $el := .Site.Data.projects.source }}
            <h5>
              <img class="img-project" src="{{ .image }}">
              <b><a href="{{ .url }}">{{ $el.name }}</a></b>&nbsp;-&nbsp;{{ $el.description | markdownify}}
            </h5>
          {{ end }}
        </div>
      </div>
    </section>
  </div>
{{ end }}
